[Unit]
Description=Radio background service
Documentation=https://github.com/uglyoldbob/radio
After=NetworkManager.service
After=bluetooth.service
After=dbus.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until [ -d /sys/class/bluetooth/hci0 ]; do sleep 1; done'
ExecStart=/bin/radio_service --nvconfig=/etata/radioconfig.bin
Restart=always

[Install]
WantedBy=multi-user.target
